{% load static %}


<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview">
            <a href="/recruiter/" class="brand-link">
              <i class="nav-icon fas fa-tasks"></i>
              <span class="brand-text font-weight-light">TECHCRUIT</span>
            </a>
          </li>
        </ul>
    </nav>


    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'ui_sections/dist/img/user.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/recruiter/" class="d-block">Hey {{username}}..</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="/recruiter/" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/candidate/bot" class="nav-link">
              <i class="nav-icon fa fa-robot"></i>
              <p>
                ChatBot
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/recruiter/register" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Registration
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Test 1
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/recruiter/auto_select" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Auto Selection/Rejection</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/recruiter/selected_before_test" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Selected Before Test</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/recruiter/questions" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Questions</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/recruiter/scores" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Scores</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>